name: Local runner test

on:
  workflow_dispatch:

jobs:
  testRunner:
    runs-on: [self-hosted]
    defaults:
      run:
        shell: pwsh
    steps:
    - uses: actions/checkout@v3.0.2
    - name: Setup Terraform
      run: choco install terraform -y
    - name: Refresh Environment
      run: refreshenv
    - name: Display Terraform Version
      run: terraform --version
    - name: Display Azure-CLI Version
      run: az --version
